/* GENNERAL INPUT DESIGN */

.saveButton {
  background: var(--dark-color);
  color: var(--light-color);
  border: none;
  padding: 1vh 2.5vw;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2vh;
}

.addButton {
  background: white;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  padding: 1vh 2.4vw;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.actionBtn:hover {
  background-color: var(--dark-color);
  /* padding: 1vh; */
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  color: white;
  cursor: pointer;
}

.generalTextArea {
  margin-top: 2vh;
  width: 37.5vw;
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
  height: 15vh;
  border-radius: 10px;
  padding: 1vh;
}

.skillScroll {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* text-align: left; */
  gap: 3vw;
  align-self: left;
  width: 35vw;
  text-align: left;
}

.skillHeadScroll {
  text-align: left;
}

/* 
++++++++++++++++++++++++++++++++++++++
*/

/*PROFILE INPUT*/
.profileInputContainer {
  background-color: white;
  padding: 2vw 1vw;
  width: 40vw;
  border-radius: 10px;
}

.profileHeader {
  display: flex;
  color: var(--dark-color);
  font-size: var(--very-small);
  justify-content: left;
  align-items: center;
  margin-bottom: 2vh;
}

.profileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
}

.profileInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.generalShortInput {
  border: 1px solid var(--dark-color);
  height: 5vh;
  padding: 5px;
  width: 18vw;
  border-radius: 5px;
}

::placeholder {
  color: var(--dark-color);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: var(--dark-color);
}

/* ++++++++++++++++++++++++++++++++++++ */

/* SKILLS */
.skillsContainer {
  background-color: white;
  margin: 2vh 0;
  padding: 2vw 1vw;
  width: 40vw;
  border-radius: 10px;
  color: var(--dark-color);
}

.skillsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2vh;
  justify-content: center;
}

.skillsHero {
  display: flex;
  color: var(--dark-color);
  font-size: var(--sub-header);
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  padding-right: 0.5vw;
}

.skillsForm {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 4vh;
  align-self: left !important;
}

.skillUpload {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

.skillsFormInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.generalLongInput {
  height: 5vh;
  padding: 5px;
  width: 37.5vw;
  border-radius: 5px;
  border: 1px solid var(--dark-color);
}

.generalTextArea {
  height: 15vh;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--dark-color);
}

/* +++++++++++++++++++++++++++++++++++++++ */

/* PROF EXPERIENCE INPUT */
.profExpDate {
  display: flex;
  gap: 1vw;
  justify-content: unset;
  align-items: center;
  justify-self: left;
}

.profExpDatesCheck {
  margin-top: 2vh;
}

.profExpDates {
  display: flex;
  flex-direction: column;
}

.profExpDateInput {
  height: 5vh;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.profExpCheck {
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  margin-right: 5px;
}

/* +++++++++++++++++++++++++++++++++++++++ */
/* EDUCATION */
