/* General design */
.mainRowContainer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-left: 2vw;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
}

.mainColumnContainer {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-left: 2vw;
}

.resGeneralContainer {
  margin: 4vh 0;
  background-color: white;
  width: 52vw;
  height: 150vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 5vh;
}

.classicLine {
  border: 1px solid black;
  width: 48vw;
  margin: 2vh 0 1vh 0;
  display: flex;
  justify-content: center;
  align-self: center;
}

.mainHeader {
  font-size: 0.8vw;
  font-weight: bold;
  margin-left: 2vw;
  margin-bottom: 2vh;
}

/* Profile Design */

.classicHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classicHeaderBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classicHeaderBio h1 {
  font-size: 1.6vw;
  margin-top: 4vh;
  text-transform: uppercase;
}

.classicHeaderBio p {
  font-size: 1vw;
  font-weight: normal;
}

.classicHeaderLinks {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  margin-top: 2vh;
}

.classicHeaderLinks p {
  font-weight: normal;
  margin-right: 1vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  color: #333;
}

.classicHeaderProfile {
  width: 93%;
}

.classicHeaderProfile p {
  font-size: 0.9vw;
  line-height: 3vh;
  text-align: justify;
  text-justify: distribute;
}

/* 

+++++++++++++++++++++++++++++++

*/

/* SKILL DESIGN */
.skillDesignContainer {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  justify-content: space-between;

  padding: 1vh 2vw;
  flex-wrap: wrap;
}

.skillDesingCards {
  display: flex;
  flex-direction: column;
}

.skillDesingMain {
  font-size: 1vw;
  font-weight: 600;
  display: flex;
}

.skillDesingSub {
  font-size: 0.9vw;
  /* width: 23vw;  Removed to allow flexible wrapping */
  text-align: justify;
  text-justify: distribute;
}

/* .skillsForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
} */

/* 
++++++++++++++++++++++++++++++++++++++++
*/

/* EXPERIENCE */
.expContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 2vw;
  margin-bottom: 2vh;
}

.exptTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.expLeft {
  width: 39vw;
}

.expPosition {
  font-size: 1vw;
  font-style: italic;
}

.exPositionSpan {
  font-weight: bold;
  font-style: normal;
}

.expRight {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
}

.expDate {
  display: flex;
  flex-direction: row;
  font-size: 0.8vw;
  justify-content: center;
  align-items: center;
}

.dateline {
  border: 1px solid #333;
  width: 1vw;
}

.expLocationText {
  font-size: 0.8vw;
  font-style: italic;
}

.expInfo {
  display: flex;
  flex-direction: column;
}

.expInfoText {
  display: flex;
  flex-direction: column;
  font-size: 0.95vw;
  margin-top: 0.5vh;
  width: 37vw;
  margin-left: 1vw;
  text-align: justify;
  text-justify: distribute;
}

/* 
+++++++++++++++++++++++++++++++++++++++++
*/

.mainCertContainer {
}

.certContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  /* gap: 2vh; */
}

.certCert {
  font-size: 0.8vw;
  font-weight: 900;
}

.certOrg {
  font-size: 0.8vw;
}

.certLink {
  font-size: 0.8vw;
}

.certDate {
  font-size: 0.8vw;
  font-style: italic;
}

/* 
++++++++++++++++++++++++++++++++++
*/

.mainInterestContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.interestContainer {
  line-height: 2vh;
}

.interestText {
  font-size: 0.8vw;
}
